<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Chi tiết đơn hàng | Quản trị Admin</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Main CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/admin/doc/css/main.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<!-- or -->
<link rel="stylesheet"
	href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<!-- Font-icon css-->
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" type="text/css"
	th:href="@{/admin/css/donhangchitiet.css}">
<!-- SweetAlert CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<style type="text/css">
.btn-update {
	background-color: #28a745;
	border-color: #28a745;
}

.btn-update:hover {
	background-color: #218838;
	border-color: #1e7e34;
	color: white;
}

.btn-cancel {
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-cancel:hover {
	background-color: #c82333;
	border-color: #bd2130;
	color: white;
}
</style>
</head>

<body ng-app="app" ng-controller="donhangchitiet-ctrl" onload="time()"
	class="app sidebar-mini rtl">

	<div th:insert="~{admin/menu.html}"></div>

	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active" ng-repeat="dhct in dhchitiets"
					ng-if="$index === 0 || dhchitiets[$index - 1].donHang.maDH !== dhct.donHang.maDH">
					<a href="#"><b>Chi tiết đơn hàng {{dhct.donHang.maDH}}</b></a>
				</li>
			</ul>
			<div id="clock"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="tile-body">
						<div class="row element-button">
							<div class="col-sm-2">
								<a class="btn btn-add btn-sm" ng-if="form.trangThai === 'Đang Xử Lý'" th:href="@{/dataOrder/xacnhan}">Quay
									lại</a>
									<a class="btn btn-add btn-sm" ng-if="form.trangThai === 'Chờ Lấy Hàng'" th:href="@{/dataOrder/cholayhang}">Quay
									lại</a>
									<a class="btn btn-add btn-sm" ng-if="form.trangThai === 'Đang Giao Hàng'" th:href="@{/dataOrder/danggiaohang}">Quay
									lại</a>
									<a class="btn btn-add btn-sm" ng-if="form.trangThai === 'Hoàn Thành'" th:href="@{/dataOrder/hoanthanh}">Quay
									lại</a>
									<a class="btn btn-add btn-sm" ng-if="form.trangThai === 'Đã Hủy'" th:href="@{/dataOrder/huydon}">Quay
									lại</a>
							</div>
							<div class="col-sm-10 d-flex justify-content-end">
								<button class="btn btn-update btn-sm mr-2"
									ng-if="form.trangThai === 'Đang Xử Lý'" ng-click="update()">Cập
									nhật</button>
									<button class="btn btn-update btn-sm mr-2"
									ng-if="form.trangThai === 'Chờ Lấy Hàng'" ng-click="updateCLH()">Cập
									nhật</button>
									<button class="btn btn-update btn-sm mr-2"
									ng-if="form.trangThai === 'Đang Giao Hàng'" ng-click="updateDGH()">Cập
									nhật</button>
								<button class="btn btn-cancel btn-sm"
									ng-if="form.trangThai === 'Đang Xử Lý'" data-bs-toggle="modal"
									data-bs-target="#cancelOrderModal">Hủy đơn</button>
									<button class="btn btn-cancel btn-sm"
									ng-if="form.trangThai === 'Chờ Lấy Hàng'" data-bs-toggle="modal"
									data-bs-target="#cancelOrderModal">Hủy đơn</button>
									<button class="btn btn-cancel btn-sm"
									ng-if="form.trangThai === 'Đang Giao Hàng'" data-bs-toggle="modal"
									data-bs-target="#cancelOrderModal">Hủy đơn</button>
							</div>
						</div>
						<h2>Thông tin đơn hàng</h2>
						<form class="row">
							<div class="form-group col-md-3">
								<label class="control-label">Mã đơn hàng</label> <input
									class="form-control" ng-model="form.maDH" type="text" disabled>
							</div>
							<div class="form-group col-md-3">
								<label class="control-label">Tên khách hàng</label> <input
									class="form-control" ng-model="form.taiKhoan.hoVaTen"
									type="text" disabled>
							</div>
							<div class="form-group col-md-3">
								<label class="control-label">Địa chỉ</label> <input
									class="form-control" ng-model="form.diaChi" type="text"
									disabled>
							</div>
							<div class="form-group col-md-3">
								<label class="control-label">Số điện thoại</label> <input
									class="form-control" ng-model="form.sdt" type="text" disabled>
							</div>
							<div class="form-group col-md-3">
								<label class="control-label">Tổng tiền</label> <input
									class="form-control" ng-model="form.tongGia" type="number"
									disabled>
							</div>
							<div class="form-group col-md-3">
								<label class="control-label">Ngày tạo</label> <input
									class="form-control" ng-model="form.createDate" type="date"
									disabled>
							</div>
							<div class="form-group col-md-3">
								<label class="control-label">Trạng thái</label> <input
									class="form-control" ng-model="form.trangThai" type="text"
									disabled>
							</div>
							<div class="form-group col-md-3"
								ng-if="form.trangThai === 'Đã Hủy'">
								<label class="control-label">Lý do hủy đơn</label>
								<textarea class="form-control"
									ng-if="form.trangThai === 'Đã Hủy'" ng-model="form.note"
									type="text" disabled></textarea>
							</div>
						</form>

						<table class="table table-hover table-bordered" id="sampleTable">
							<thead>
								<tr>
									<th scope="col">Ảnh</th>
									<th scope="col">Tên sản phẩm</th>
									<th scope="col">Số lượng</th>
									<th scope="col">Giá</th>
									<th scope="col">Tổng giá</th>
									<th scope="col">Mã đơn hàng</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="dhct in dhchitiets">
									<td><img
										ng-src="/assets/images/sanpham/{{dhct.sanPham.anh}}"
										style="width: 100px; height: auto;" /></td>
									<td>{{dhct.sanPham.tenSP}}</td>
									<td>{{dhct.soLuong}}</td>
									<td>{{dhct.sanPham.gia | currency:'':0}} VND</td>
									<td>{{dhct.gia * dhct.soLuong | currency:'':0}} VND</td>
									<td>{{dhct.donHang.maDH}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- Cancel Order Modal -->
	<div class="modal fade" id="cancelOrderModal" tabindex="-1"
		role="dialog" aria-labelledby="cancelOrderModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" ng-repeat="dhct in dhchitiets"
					ng-if="$index === 0 || dhchitiets[$index - 1].donHang.maDH !== dhct.donHang.maDH">
					<h5 style="color: black" class="modal-title"
						id="cancelOrderModalLabel">Lý do hủy đơn hàng
						{{dhct.donHang.maDH}}</h5>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="note">Nhập lý do hủy đơn:</label>
							<textarea class="form-control" id="note" ng-model="form.note"
								rows="3" required></textarea>
							<div class="text-danger"
								ng-show="cancelOrderForm.$submitted && !form.note">Vui
								lòng nhập lý do hủy đơn.</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Đóng</button>
					<button type="button" class="btn btn-danger" ng-click="huydon()">Xác
						nhận hủy đơn</button>
				</div>
			</div>
		</div>
	</div>


	<script>
		//Thời Gian
		function time() {
			var today = new Date();
			var weekday = new Array(7);
			weekday[0] = "Chủ Nhật";
			weekday[1] = "Thứ Hai";
			weekday[2] = "Thứ Ba";
			weekday[3] = "Thứ Tư";
			weekday[4] = "Thứ Năm";
			weekday[5] = "Thứ Sáu";
			weekday[6] = "Thứ Bảy";
			var day = weekday[today.getDay()];
			var dd = today.getDate();
			var mm = today.getMonth() + 1;
			var yyyy = today.getFullYear();
			var h = today.getHours();
			var m = today.getMinutes();
			var s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			nowTime = h + " giờ " + m + " phút " + s + " giây";
			if (dd < 10) {
				dd = '0' + dd
			}
			if (mm < 10) {
				mm = '0' + mm
			}
			today = day + ', ' + dd + '/' + mm + '/' + yyyy;
			tmp = '<span class="date"> ' + today + ' - ' + nowTime + '</span>';
			document.getElementById("clock").innerHTML = tmp;
			clocktime = setTimeout("time()", "1000", "Javascript");

			function checkTime(i) {
				if (i < 10) {
					i = "0" + i;
				}
				return i;
			}
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/admin/js/donhangchitiet.js}"></script>
</body>

</html>
