<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Paus Beauty - Đơn hàng</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:insert="~{user/link/link.html}">
	<!-- SweetAlert CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<!-- SweetAlert JS -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body ng-app="app" ng-controller="donhang-ctrl">

	<span th:insert="~{user/common/header.html}"></span>

	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-15"><span style="font-weight: bold; font-size: 25px; color: black;">Thông tin đơn
							hàng</span>
					</div>
					<br>
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div><span style="font-weight: bold; font-size: 20px; color: black;">Thông tin khách hàng</span>
						</div>

						<div class="tt-container">
							<div>
								<input type="text" name="hovaten" id="hovaten" placeholder="Họ và tên"
									value="{{ taikhoan.hoVaTen }}" required>
							</div>
							<div>
								<input type="text" name="sdt" id="sdt" placeholder="Số điện thoại"
									value="{{ taikhoan.sdt }}" required>
								<input type="text" name="email" id="email" placeholder="Email"
									value="{{ taikhoan.email }}" required>
							</div>
							<div>
								<input type="text" name="diachi" id="diachi" placeholder="Địa chỉ"
									value="{{ taikhoan.diaChi }}" required>
							</div>
						</div>

						<div><span style="font-weight: bold; font-size: 20px; color: black;">Phương thức thanh
								toán</span>
						</div>

						<div class="tt-container">
							<div class="radiobox">
								<input type="radio" name="pttt" value="1" required>
								<label class="" for="" style="font-size: 15px; color: black;">Trả
									tiền mặt khi nhận hàng</label>
							</div>
							<div class="radiobox">
								<input type="radio" name="pttt" value="2" required disabled="disabled">
								<label class="" for="" style="font-size: 15px; color: black;">Thanh
									toán VN Pay (Comming soon)</label>
							</div>
						</div>

						<div><span style="font-weight: bold; font-size: 20px; color: black;">Phương thức vận
								chuyển</span>
						</div>

						<div class="tt-container">
							<div class="radiobox">
								<input type="radio" name="ptcv" value="1" ng-click="vanchuyen(1)" required>
								<label class="" for="" style="font-size: 15px; color: black;">Giao
									hàng tiêu chuẩn (3 - 6 ngày) (Giao giờ hành chính)</label>
							</div>
							<div class="radiobox">
								<input type="radio" name="ptcv" value="2" ng-click="vanchuyen(2)" required>
								<label class="" for="" style="font-size: 15px; color: black;">Giao
									hàng trong 24h</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm shadow">
						<h4 class="mtext-109 cl2 p-b-30">Thông tin đơn hàng</h4>

						<div ng-repeat="sanPham in giohang">
							<div class="row">
								<div class="how-itemcart1 anh col col-3">
									<img ng-src="/assets/images/sanpham/{{sanPham.sanPham.anh}}" alt="IMG">
								</div>
								<div class="tenSP col">
									{{ sanPham.sanPham.tenSP }}
								</div>
							</div>
						</div>

						<div class="">
							<span class="" style="font-size: 15px;"> Phí vận chuyển: </span>
							<span class="formatted-price" style="font-size: 15px;">{{ pvc | currency:'':0 }}
								VNĐ</span>
						</div>
						<br>
						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2" style="font-size: 20px;"> Tổng tiền: </span>
							</div>

							<div class="size-209">
								<span class="formatted-price" style="font-size: 20px;">{{ tongtien | currency:'':0 }}
									VNĐ</span>
							</div>
						</div>

						<button ng-click="goTo()"
							class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Xác nhận
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<span th:insert="~{user/common/footer.html}"></span>
	<!-- AngularJS -->
	<script th:src="@{/user/angularjs/donhang.js}"></script>
	<!-- link -->
	<div th:insert="~{user/link/scriptIndex.html}"></div>

	<style>
		.tt-container input[type="text"] {
			width: 100%;
			padding: 10px;
			margin: 10px 0;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		.tt-container .radiobox {
			width: 100%;
			padding: 10px;
			margin: 10px 0;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		.radiobox input[type="radio"],
		.radiobox label {
			display: inline-block;
		}

		.shadow {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
			border-radius: 5%;
		}

		.anh,
		.tenSP,
		.slSP {
			display: inline-block;
			margin-bottom: 10px;
		}

		.tenSP {
			margin-right: 20px;
		}
	</style>

</body>

</html>