<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Paus Beauty - Chính Sách</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:insert="~{user/link/link.html}">
<style>
.content-topbar {
	font-size: 16px;
}

.mtext-111 {
	font-size: 24px;
}

.stext-113 {
	font-size: 18px;
}

.header-cart-item-info {
	font-size: 18px;
}

.mtext-103 {
	font-size: 24px;
}
</style>
</head>
<body class="animsition">
	<!-- Header -->
	<span th:insert="~{user/common/header.html}"></span>


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">Chính Sách & Quy Định Chung</h3>
						<p class="stext-113 cl6 p-b-26">1. Quyền và trách nhiệm của
							người bán sản phẩm</p>
						<ul class="stext-113 cl6 p-b-26">
							<li>Cung cấp đúng sản phẩm mà khách hàng đã lựa chọn, có
								trách nhiệm tư vấn đầy đủ các tính năng, cách sử dụng, giá…và
								các yêu cầu khác của khách hàng.</li>
							<li>Có quyền yêu cầu khách hàng cung cấp đầy đủ các thông
								tin về: nhu cầu, điều kiện sử dụng, điều kiện vận chuyển; điều
								kiện bảo hành; đổi trả sản phẩm, chăm sóc khách hàng về sau…</li>
							<li>Hướng dẫn khách hàng cách sử dụng và bảo quản sản phẩm
								sau khi mua và trong suốt quá trình sử dụng sản phẩm.</li>
							<li>Có chính sách đổi trả sản phẩm và chăm sóc khách hàng
								sau khi khách hàng mua các sản phẩm tại Paus Beauty.</li>
							<li>Cam kết bán hàng đúng chất lượng, hàng có nguồn gốc xuất
								xứ rõ ràng, hàng có các tiêu chuẩn đo lường chất lượng phù hợp
								với các quy định của pháp luật Việt Nam. Chúng tôi có đầy đủ các
								loại giấy tờ pháp lý theo quy định của pháp luật các loại giấy
								tờ này được niêm yết công khai trên website.</li>
							<li>Website có cơ chế cho khách hàng đồng ý các quy định
								chung của bên bán (nếu có) trước khi tiến hành mua hàng.</li>
						</ul>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1">
						<div class="hov-img0">
							<img th:src="@{/user/images/about-01.jpg}" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<p class="stext-115 cl6 p-b-26">2. Quyền và trách nhiệm của
							người mua sản phẩm</p>
						<ul class="stext-113 cl6 p-b-26">
							<li>Cung cấp đầy đủ các thông tin về nhu cầu, điều kiện sử
								dụng, điều kiện vận chuyển; điều kiện đổi trả; chăm sóc khách
								hàng về sau…và các điều kiện khác (nếu có) cùng các yêu cầu cần
								thiết để người bán tư vấn đúng, chính xác các sản phẩm phù hợp
								nhất với khách hàng.</li>
							<li>Người mua có quyền yêu cầu người bán cung cấp đầy đủ các
								hồ sơ, giấy tờ liên quan đến chất lượng, xuất xứ sản phẩm, thành
								phần để người mua có lựa chọn và hiểu biết rõ về sản phẩm trước
								khi mua và sử dụng sản phẩm.</li>
							<li>Cùng thực hiện mọi vấn đề do hai bên thỏa thuận, trên
								tinh thần hợp tác, tự nguyện.</li>
							<li>Cung cấp đầy đủ thông tin như: Tên, Địa chỉ, Số điện
								thoại khi người mua có nhu cầu về việc người bán vận chuyển hàng
								hóa đến tận nơi hay tư vấn tận nơi.</li>
							<li>Thanh toán cho người bán đầy đủ theo thỏa thuận giữa hai
								bên trong việc mua/bán sản phẩm.</li>
						</ul>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img th:src="@{/user/images/about-02.jpg}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"><i
			class="zmdi zmdi-chevron-up"></i></span>
	</div>

	<!-- Footer -->
	<div th:insert="~{user/common/footer.html}"></div>

	<!-- product-detail -->
	<div th:insert="~{user/product-detail.html}"></div>

	<!-- AngularJS -->
	<script th:src="@{/user/angularjs/sanpham.js}"></script>

	<!-- link -->
	<div th:insert="~{user/link/scriptIndex.html}"></div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>