.app-content {
	padding: 20px;
	background-color: #f8f9fa;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.breadcrumb-item.active a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.app-title {
    margin-bottom: 20px;
}

.app-title ul {
    padding: 0;
    list-style: none;
}

.app-title #clock {
    float: right;
    font-size: 1.2em;
    color: #6c757d;
}